* {
    margin-left: 5px;
}
header {
    margin-top: 10px;
    font-size: xxx-large;
}
form {
    margin-bottom: 10px;
    border: 5px solid black;
}
textarea {
    resize: none;
}
.box {
    margin-bottom: 50px;
    margin: 10px;
}