.super-mario {
    width: 200px;
    position: absolute;
    top: 50px;
    left: 50px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    top: 310px;
    left: 125px;
  }
  
  .baloon {
    width: 110px;
    position: absolute;
    left: 270px;
    top: 75px;
    z-index: 1;
    
  }
  
  .speach {
    font-size: 15px;
    position: absolute;
    top: 73px;
    left: 280px;
    z-index: 2;;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 350px;
  }